<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/components::head"></div>
</head>

<body>

    <h1 class="error-label text-center">404</h1>
    <p class="error-desc">Page Not Found!</p>

    <div class="container text-center mt-3">
        <a th:href="@{/user/logout}" class="btn btn-outline-danger">Logout</a>
        <a type="button" class="btn btn-primary" th:href="@{/swagger-ui/}">Go to Swagger Docs</a>
    </div>

    <!-- import scripts -->
    <div th:replace="fragments/components::scripts"></div>
</body>

</html>